/* NAVBAR */

.cursive {
  font-family: "Pacifico", cursive;
  color: #5d7aff;
}

/* HEADER */

#heroImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
}

@media only screen and (max-width: 400px) {
  section.hero {
    background-size: auto 100%;
  }
}

/* QUOTE */
#quoteImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.blue {
  color: #5d7aff;
}

/* FOOTER */
footer.footer {
  background-color: #384b7a;
}
footer p.title,
footer p.subtitle {
  color: white;
}
