<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Offhand Jaunt</title>
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../static/app.css" />
  </head>
  <body>
    <!-- NEW NAV -->
    <nav class="navbar is-white is-fixed-top">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('home') }}">
          <h1 class="title">Offhand Jaunt</h1>
        </a>
        <div
          class="navbar-burger"
          data-target="navbarExampleTransparentExample"
        >
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ url_for('home') }}"> Home </a>
          {% if user == None %}
          <a class="navbar-item" href="{{  url_for('fb_login') }}"> Login </a>
          {% else %}
          <a class="navbar-item" href="{{ url_for('user_profile') }}">
            Profile
          </a>
          {% endif %}
        </div>
      </div>
    </nav>

    <!-- BODY -->
    {% block content %}{% endblock %}

    <!-- FOOTER -->
    <footer class="footer">
      <div class="columns">
        <div class="column">
          <p class="title">Offhand Jaunt</p>
          <p class="subtitle">Travel Randomly, <br />Experience Organically</p>
        </div>
        <div class="column">
          <a href="{{ url_for('home') }}">
            <p class="title">Home</p>
            <p class="subtitle">Click to Start Exploring</p>
          </a>
        </div>
        <div class="column">
          {% if user == None %}
          <a href="{{  url_for('fb_login') }}">
            <p class="title">Login</p>
            <p class="subtitle">Click to Login</p>
          </a>
          {% else %}
          <a href="{{ url_for('user_profile') }}">
            <p class="title">Hello Explorer</p>
            <p class="subtitle">Click to View Profile</p>
          </a>
          {% endif %}
        </div>
        <div class="column">
          <a href="{{ url_for('show_privacy_policy') }}">
            <p class="title">Privacy Policy</p>
            <p class="subtitle">Click to View</p>
          </a>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    <script
      src="https://kit.fontawesome.com/6724b070a2.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.js"
      integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/app.js" defer></script>
  </body>
</html>
