{% extends 'base.html' %} {% block content %}

<div class="tile is-ancestor">
  <!-- DATA INPUT FORM -->
  <div class="tile is-parent">
      <div class="tile is-child box" id="inputdata">
        <!-- Departure Airport (text) -->
        <div class="field">
          <label class="label">Departure Airport</label>
          <div class="control has-icons-right">
            <input class="input" type="text" placeholder="IATA Code (3 Letters)" id="departure_airport">
            <span class="icon is-small is-right">
              <i class="fas fa-plane-departure"></i>
            </span>
          </div>
          <p id='da' class="help">Google "IATA Code + Your City Name"</p>
        </div>
        <!-- Departure Date (date) -->
        <div class="field">
          <label class="label">Departure Date</label>
          <div class="control">
            <input class="input" type="date" id="departure_date">
          </div>
          <p class="help">Date You Plan to Leave</p>
        </div>
        <!-- Return Date (date) -->
        <div class="field">
          <label class="label">Return Date</label>
          <div class="control">
            <input class="input" type="date" id="return_date">
          </div>
          <p class="help">Date You Plan to Return</p>
        </div>
        <!-- Send Form Data to App.js (button) -->
        <div class="field">
          <p class="control">
            <button id ="go" class="button is-success">
              Go!
            </button>
          </p>
        </div>
      </div>
    </a>
  </div>
  <!-- QUOTE -->
  <div class="tile is-parent is-vertical" id="quote">
    <!-- If Quote is True -->
    {% if quote != None %}
    <!-- Quote Information -->
    <div class="tile is-child box">
      <p class="title" id="cityname">{{ quote.city }}</p>
      <p class="subtitle" id="country">{{ quote.city }}</p>
      <p class="title" id="price">${{ quote.price }}</p>
      <p class="subtitle" id="date">{{ quote.input.start }} - {{ quote.input.end }}</p>
      <p class="subtitle" id="iata"> To: {{ quote.iata }} By: {{ quote.carrier }}</p>
    </div>
    <!-- Quote Image -->
    <div class="tile is-child box" id="dimage">
      <figure class="image image is-5by4">
        <a href="{{ quote.image_url }}">
          <img src="{{ quote.image_url }}" alt="Location" />
        </a>
      </figure>
      <p class="subtitle" id="artist">Photo by
        <a
          href="{{ quote.image_attribute }}?utm_source=offhand_jaunt&utm_medium=referral"
        >
          {{ quote.image_by}}
        </a>
        on
        <a
          href="https://unsplash.com/?utm_source=offhand_jaunt&utm_medium=referral"
        >
          Unsplash
        </a>
      </p>
    </div>
    <!-- Share Quote Button -->
    <div class="buttons">
      <button class="button is-info" id="share" data-link="{{ quote.url }}/share/{{ quote.input.home }}/{{ quote.iata }}/{{ quote.input.start }}/{{ quote.input.end }}">Share Flight</button>
    </div>
    <!-- IF QUOTE IS FALSE DISPLAY BASIC DATA -->
    {% else %}
    <div class="tile is-child box">
      <p class="title">How To Use This Site</p>
      <div class="content">
        <ol>
          <li>Put in the IATA Code of your Home Airport</li>
          <li>Pick a <strong> Departure Date</strong></li>
          <li>Pick a <strong>Return Date</strong></li>
          <li>Hit <strong>Go!</strong> and we'll find a destination and flight there</li>
        </ol>
      </div>
    </div>
    <div class="tile is-child box">
      <p class="title">Offhand Jaunt</p>
      <p class="subtitle">by: Thomas U.</p>
      <div class="content">
        <h2>What is this Site?</h2>
        <p>Great Question. I strongly believe that the best trips are <strong>unexpected</strong>. There is something about the unknown that makes for great adventures and even better stories</p>
        <p>So I built a website that helps you explore the unknown</p>
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
