{% extends 'base.html' %} {% block content %}
<div class="columns is-vcentered is-gapless is-desktop">
  <div class="column">
    <img
      id="heroImg"
      src="../static/images/Different kinds of suitcases vector illustrations set.jpg"
      alt="travel website"
    />
  </div>
  <div class="column">
    <div class="hero-body">
      <p class="title is-1 cursive">Login</p>
      <p class="title is-3">Offhand Jaunt uses Facebook Login</p>
      <button class="button is-link">
        <span class="icon is-medium">
          <i class="fab fa-facebook"></i>
        </span>
        <span>Login With Facebook</span>
      </button>
    </div>
  </div>
</div>
{% endblock %}
